# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
*.egg-info/

# ML Models
*.pth
*.npy
*.pkl

# Vector DB
chroma_db/

# Node
node_modules/
.next/

# Env
.env.local
.env

# OS
.DS_Store
.idea/
.vscode/

# Data (large files)
*.csv
*.tsv
*.xlsx

# Logs
*.log